.loader {
    &.loader__fullscreen {
        position: absolute;
        // display: table;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100%;
        color: #fff;
        background: #2d3241;
        .loader__text {
            position: absolute;
            width: 100%;
            bottom: 40px;
            left: 0;
        }
    }
    &.loader__small {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100%;
        color: #fff;
        background: transparent;
        .loader__text {

        }
    }
}

// Animations
.loader__fullscreen {
    transition: all 1s;
    &.leave {
        transform: translateY(100%);
    }
}
