<div
    map
    class="map"
    center="{{mapCenter}}"
    disable-default-u-i="true"
    zoom="16"
    on-click="addMarker()">
    <!-- <marker
        ng-repeat="marker in markers"
        position="[marker.coords.A, marker.coords.K]">
    </marker> -->
</div>
<button ng-click="toggleMap()">Toggle Kort</button>
<button ng-click="authenticate()">Log Ind</button>

<p>Sidste check-in {{lastCheckin | amCalendar}}</p>

<div ng-if="showError" class="dialog dialog--error dialog__animation--jelly">
    <div class="" ng-include="'app/main/main.dialog.error.tpl.html'"></div>
</div>
<div ng-if="showBackdrop" class="backdrop backdrop__animation--fade"></div>
