$primary-color: #a3cee5;
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

$button-font-color: darken(#F7D86A, 35%);
$button-bg: #F7D86A;
$button-font-color-alt: #134f95;

$rounded-radius: 10px;
$round-radius: 100%;
